#main{
    margin:0;
    width:100%;
    height:auto;
    font-family:'Open Sans', sans-serif;
    color:rgba(10,10,10,1);
}
#background{
    position:fixed; 
    width:100%;
    height:100%;
    z-index: -1;

    background:linear-gradient(180deg, rgba(109, 98, 0, 0.5) 0%, rgba(141, 143, 0, 0) 50%), url("Images/TileBackground1.png");
    background-blend-mode: screen;
    background-size:25% auto;
    background-repeat: repeat;
    opacity:0.35;
}
/* header css */
header{
    position:relative;
    background:linear-gradient(180deg, rgba(231, 0, 0, 0.70) 50%, rgba(255, 245, 190, 0) 100%);
}
/* nav:absolute positioned */
nav, #title, #img-div{
    /* border:1px solid blue; */
    margin:0;
    padding:0;
}
nav{
    width:100%;
    height:50px;
    background:linear-gradient(180deg, #9E0000 0%, rgba(158, 0, 0, 0.5) 50%, #9F0000 100%);
    font-family: 'VT323', monospace;
    font-size:3.5vmin;  
}
nav ul{
    margin:0;
    padding:0;
    /* border:1px solid black; */
    list-style-type: none;
    width:50%;
    max-width:750px;
    height:100%;
    margin:0 auto 0 auto;
    
    display:grid;
    grid-template-columns:50px 1fr 1fr 1fr;
    align-items:center;
    justify-items:center;
}
nav ul li{
    /* border:1px solid black; */
    margin:0;
    padding:0;
}
nav a {
    text-decoration: none;
    color:white;
}
nav a:hover{
    font-weight:bolder;
    color:lightyellow;
}
#nav-icon{
    width:100%;
    height:auto;
    filter:drop-shadow(1px 2px 2px rgba(71,71,71,1));
}
/* figure image: center and relative positioned */
#img-icon{
    position: relative;
    margin:0 auto 0 auto;
    padding:0;
    width:35vmin;
    height:auto;
}
#img-icon div{
    margin:0;
    padding:0;
    /* border:10px solid red; */
    border-radius:1000px 1000px 1000px 1000px;
    background-color:lightsalmon;
}
#image{
    width:100%;
    height:auto;
}
#img-caption{
    position:relative;
    /* border:1px solid red; */
    width:fit-content;
    margin:-3% auto 0 auto;
    padding:0 0 0 5%;
    text-align: center;
    color:rgba(80,80,80,1);
    font-family:'Amiri','Times New Roman', Times, serif;
    font-size:14px;

}
/* title: center and relative positioned */
#title{
    /* background-color:lightgrey; */
    width:50%;
    text-align:center;
    margin:3% auto 3% auto;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
    font-size:5.5vmin;
    color:white;
    text-shadow: 1px 2px lightgray;
}

/* Content and sections css */
#tribute-info{
    max-width:66%;
    margin:25px auto 0 auto;
}
#tribute-info section{
    margin:5px 0 0 0;
    padding:0;
    background-color:rgba(225, 225, 225, 0.25);
    border-radius:10px 10px 10px 10px;
    font-size:18px;
}
#tribute-info section h2{
    margin:0;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
    font-size:3vmin;
    color:rgba(30,30,30,1);
}
.section-titles{
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns: 75px auto;
    grid-gap:5px;
    align-items: center;
}
.bricks{
    list-style-type: none;
    padding:0;
    margin:0;
    width:75px;
    height:25px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-areas: "first second third";
}
.bricks1{
    background-image:url("Images/block2.png");
    background-size:contain;
}
.bricks2{
    background-image:url("Images/block3.png");
    background-size:contain;
}
.bricks3{
    background-image:url("Images/block2.png");
    background-size:contain;
}

/* top of page jump */
#topOfPage a{
    position:fixed;
    top:50%;
    right:0;
    width:50px;
    height:100px;
    filter:drop-shadow(1px 2px lightslategray) opacity(75%);
    display:grid;
    grid-template-rows:50px 50px;
    grid-template-areas:"top",
                        "bottom";
}
#topOfPage a:hover{
    filter:opacity(100%);
}
#pop1{
    grid-area:"top";
    width:100%;
    height:auto;
}
#pop2{
    grid-area:"bottom";
    width:inherit;
    height:auto;
}
#time-line-points{
    margin:0;
    list-style-position:outside;
    list-style-type: square;
    font-size:16px;
}
#time-line-points li{
    margin:10px 0 10px 0;
}
#time-line-points li span{
    font-weight:bolder;
}
/* citations */
#citations ol{
    font-size:12px;
}
/* footer */
#footer{
    width:100%;
    height:auto;
    margin-top:20px;
    background-image:url("Images/bricks2.png");
    background-repeat: repeat;
    background-size: 50px 50px;
    font-family: 'VT323',monospace;
}
h3{
    margin:75px auto 0 auto;
    width:66%;
    font-family: 'VT323',monospace;
    font-size:3.5vmin;
    text-align:center;
}
#links{
    max-width:500px;
    width:fit-content;
    margin:0 auto 0 auto;
    height:50px;
    display:grid;
    grid-template-columns: repeat(3,minmax(25px,50px));
    grid-gap:0 50px;
    text-align: center;
}
#links a{
    max-width:50px;
    max-height:50px;
    width:100%;
    height:100%;
    background-image: url("Images/block1.png");
    background-size:cover;
    display:grid;
    align-items: center;
    font-size:45px;
    color:white;
    text-decoration: none;
}
#footer h6{
    width:fit-content;
    margin:10px auto 10px auto;
    color:white;
    font-size:calc(7px + 1vmin);
}
@media screen and (max-width:800px){
   nav{
       font-size:5vmin;
   }
   nav ul{
       width:75%;
   }
   #title{
    width:75%;
    font-size:6.25vmin;
    }
    #img-icon{
    width:40vmin;
    height:auto;
    }
    #img-caption{
    font-size:13px;
    }
    #topOfPage a{
        width:40px;
        height:80px;
        grid-template-rows:1fr 1fr;
    }
    #tribute-info{
    max-width:80%;
    }
    #tribute-info section{
    font-size:16px;
    }
    #tribute-info section h2{
        font-size:4.25vmin;
    }
    #time-line-points{
    font-size:14px;
    }
    h3{
    width:75%;
    font-size:calc(10px + 4vmin);
    }
    #footer h6{
    font-size:calc(7px + 2vmin);
    }
}
@media screen and (max-width:500px){
    nav{
       font-size:calc(14px + 2vmin);
   }
   nav ul{
       width:90%;
   }
   #title{
    width:85%;
    font-size:calc(14px + 3.25vmin);
    }
    #img-icon{
    width:45vmin;
    height:auto;
    }
    #img-caption{
    font-size:calc(8px + 1vmin);
    }
    #topOfPage a{
        width:30px;
        height:60px;
        grid-template-rows:1fr 1fr;
    }
    #tribute-info{
    max-width:85%;
    }
    #tribute-info section{
    font-size:14px;
    }
    #tribute-info section h2{
        font-size:calc(14px + 1.5vmin);
    }
    #time-line-points{
    font-size:calc(12px + .5vmin);
    }
    h3{
    width:100%;
    font-size:calc(10px + 4vmin);
    }
    #footer h6{
    font-size:calc(7px + 2vmin);
    }
}